@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Muli:wght@300;400;700;900&family=Montserrat:wght@300;400;700;900&display=swap");

body {
  color: #121e27;
  background: white;
  margin: auto;
  overflow-x: hidden;
  }

::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #ff715b50;
  box-shadow: inset 0 0 2px#585858;
}

.topButton,
.anchorLink {  
  font-weight: bold;
  font-family: Montserrat;
}

::-webkit-scrollbar-thumb {
  background: #ff715b;
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
}
h1 > div,
h2 > div,
h3 > div,
h4 > div,
h5 > div {
  margin-right: 1rem;
}

h1,
button,
small,
a,
nav {
  text-decoration: none;
  box-shadow: none;
}

h3,
h4,
p,
footer,
div,
li {
  font-family: Muli;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

.backend,
.devOps,
.db,
.cms,
.frontend {
  position: relative;
}

.backend:hover::after {
  content: 'Backend';
  background: #728e39;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.35rem;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 999;
}

.frontend:hover::after {
  content: 'Frontend';
  background: yellow;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.35rem;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 999;
}

.devOps:hover::after {
  content: 'DevOps';
  background: #870687;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.35rem;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 999;
}

.db:hover::after {
  content: 'Database';
  background: #ff91a4;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.35rem;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 999;
}

.cms:hover::after {
  content: 'CMS';
  background: #6161ff;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.35rem;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
