@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Muli&display=swap");
body {
  color: #121e27;
  background: white;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-wrap: wrap;
}
h1 > div,
h2 > div,
h3 > div,
h4 > div,
h5 > div {
  padding-right: 1rem;
}

h1,
button,
a {
  font-family: Inter;
  text-decoration: none;
}

h3,
h4,
p,
footer,
li {
  font-family: Muli;
}
